<app-add-todo-form (addTodo)="addTodo($event)"></app-add-todo-form>
<app-alert *ngIf="errorMessage" [errorMessage]="errorMessage" (clearMessage)="clearErrorMessage()"></app-alert>

<div class="mt-5">
  <h3>Zadania</h3>
  <ul class="list-group todos-list" *ngIf="todos.length > 0">
    <ng-container *ngFor="let todo of todos; let i = index">
      <app-todo [todo]="todo" [i]="i" (delete)="deleteTodo(i)"></app-todo>
    </ng-container>
  </ul>
  <h5 *ngIf="todos.length === 0">Aktualnie brak zadań</h5>
</div>

