<app-add-todo-form (addTodo)="addTodo($event)"></app-add-todo-form>

<app-alert *ngIf="errorMessage" [errorMessage]="errorMessage" (clearMessage)="clearErrorMessage()"></app-alert>

<div class="mt-5">
  <h4>Zadania:</h4>
  <ul class="list-group todos-list" *ngIf="todos.length > 0">
    <ng-container *ngFor="let todo of todos; index as i">
      <app-todo [todo]="todo"
                [i]="i"
                [action]="'Usuń'"
                (delete)="deleteTodo(i)">

      </app-todo>
    </ng-container>
  </ul>
  <h5 *ngIf="todos.length === 0">Aktualnie brak zadań</h5>
</div>
<div class="mt-5">
  <h4>Usunięte Zadania:</h4>
  <ul class="list-group todos-list" *ngIf="finishedTodos.length > 0">
    <ng-container *ngFor="let todo of finishedTodos; index as i">
      <app-todo [todo]="todo"
                [i]="i"
                [action]="'Przywróć'"
                (delete)="resurrectTodo(i)">

      </app-todo>
    </ng-container>
  </ul>
  <h5 *ngIf="finishedTodos.length === 0">Aktualnie wszystko ukończone</h5>
</div>
