<div class="list-group">
  <span>WPISZ COS</span>
  <input type="text"  #textMessage name="myMessage">
  <button type="button" class="btn-dark btn my-2" (click)="addMessage(textMessage.name)">tutaj</button>
  <ul class="list-group" *ngIf="messages.length > 0">
    <li class="list-group-item" *ngFor="let message of messages; let i = index">
      <input type="checkbox"
      [checked]="message.isOkay"
      (click)="markOkay(message)"
      >
      {{message.number}}. {{message.text}} {{message.isOkay ? "OK" : "NOT OKAY"}}
    </li>
  </ul>
  <h4 *ngIf="messages.length == 0">NIE MA MESSAGEGÓW</h4>
<!--  <ng-template #noTask>Aktualnie brak message'ów</ng-template>-->
</div>
