<input type="text" [(ngModel)]="inputValue"/>
<button type="button" (click)="addJob(inputValue)"> DODAJ JOBA</button>
<div class="border border-primary">
  <span class="text-center"> NOWE ZADANKA</span>

  <ul class="list-group" *ngFor="let job of jobList">
    <li class="list-group-item" *ngIf="!job.isComplete">
      <input type="checkbox"
             [checked]="job.isComplete"
             (change)="toggleJob(job)"
      >
      {{ job.name }} -> {{ job.id}}
    </li>
  </ul>
</div>
<div class="border border-danger">
  <h4> ukonczone</h4>
  <ul class="list-group" *ngFor="let job of jobList">
    <li class="list-group-item" *ngIf="job.isComplete">
      <input type="checkbox"
             [checked]="job.isComplete"
             (click)="toggleJob(job)"
      >
      {{ job.name }} -> {{ job.id}}
    </li>
  </ul>
</div>
