<hr/>
<h4> Szymki</h4>
<input type="text" class="text-center" name="imie" #szymekName>
<input type="text" class="text-center" name="nazwisko" #szymekSurname>
<button type="button" class="btn btn-danger my-2" (click)="addSzymka(szymekName.value, szymekSurname.value)">SZYMEK
</button>

<ul class="list-group" *ngIf="szymki.length > 0">

  <li class="list-group-item" *ngFor="let szymek of szymki">
    <input type="checkbox" class="form-check-input"
           (change)="changeSzymek(szymek)"
           [checked]="szymek.okay"
    > {{szymek.okay}} .
    {{Math.random() * 10000}} {{ szymek.name}} {{szymek.surname }}
  </li>
</ul>
<h4 *ngIf="szymki.length == 0">NIE MA SZYMKóW</h4>
