<li class="list-group-item">
  <input
    type="checkbox"
    class="form-check-input my-1"
    [checked]="todo.isComplete"
    (change)="changeTodoStatus(todo)"
  >
  <span class="todo-item" [ngClass]="{'text-decoration-line-through': todo.isComplete}">{{ i + 1 }}
    . {{ todo.name }}</span>
  <button type="button" class="btn btn-danger btn-sm mx-2" (click)="toggleModal()">{{ action }}</button>

</li>

<app-modal [title]="titleDelete + (i + 1) + '?'"
           (close)="toggleModal()"
           *ngIf="openModal"
>
  <div class="d-flex justify-content-end">
    <button class="btn btn-danger btn-sm mx-2" (click)="toggleExtraModal()">{{ action }}</button>
    <button class="btn btn-info btn-sm " (click)="toggleModal()">Anuluj</button>
  </div>
</app-modal>

<app-modal [title]=""
           (close)="toggleExtraModal()"
           *ngIf="openExtraModal"
>
<button class="btn btn-danger btn-sm mx-2" (click)="deleteTodo()"></button>
</app-modal>
