<li class="list-group-item">
  <input
    type="checkbox"
    class="form-check-input my-1"
    [checked]="todo.isComplete"
    (change)="changeTodoStatus()"
  >
  <span class="todo-item" [ngClass]="{'text-decoration-line-through': todo.isComplete}">{{ i + 1 }}
    . {{ todo.name }}</span>
  <button type="button" class="btn btn-danger btn-sm mx-2" (click)="toggleModal()">{{ action }}</button>

</li>

<app-modal [title]="!todo.isComplete ? titleDelete : titleResurrect"
           (close)="toggleModal()"
           *ngIf="openModal"
>
  <div class="d-flex justify-content-end" #modalDiv>
    <button class="btn btn-danger btn-sm mx-2" (click)="toggleExtraModal()">{{ action | uppercase }}</button>
    <button class="btn btn-info btn-sm " (click)="toggleModal()">Anuluj</button>
  </div>
</app-modal>

<app-modal [title]="!todo.isComplete ? titleExtraDelete : titleExtraResurrect"
           (close)="toggleExtraModal()"
           *ngIf="openExtraModal"
>
  <button class="btn btn-danger btn-sm mx-2" (click)="deleteTodo()"> {{ action }}</button>
  <button class="btn btn-info btn-sm " (click)="toggleExtraModal()">Anuluj</button>

</app-modal>
